
*{
    margin: 0;
    padding: 0;
}

body {

    height: 100vh;
    width: 100vw; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282C34;
}

div {
    height: 580px;
    width: 1200px;
    margin-left: 24%;
    margin-top: -5%;
    background-image: url("../assets/front.png");
    background-repeat: no-repeat;
    background-size: contain; 
    position: relative; 
}

a {
    font-family:'Times New Roman', Times, serif;
    text-decoration: none ;
    width: 200px;
    position: absolute;
    height: 70px;
    margin-top:320px;
    background-color: greenyellow;
    border-radius: 5px;
    font-size: 40px;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#play{
    position: absolute;
    top: 22%;
    left: 50%;
    width: 150px;
}

#contact{
    position: absolute;
    top: 22%;
    left: 31.5%;
}
a:hover{
    background-color:rgb(77, 195, 77);
}
